<h2 id = "header"> Products </h2>

<div class="Head">
    <div *ngFor="let p of products()">
        <div class="container">
            <div class="img-wrapper">
                <img 
                    [src]="p.img" 
                    [alt]="p.name">
            </div>

            <div class="product-name-info">
                <a [routerLink]="['/details', p.id]" [title]="p.name">{{p.name}}</a>
            </div>

            <div class="price-info">
                <span id = "price">Price </span><br>
                <span>{{p.price}}₸</span>
            </div>

            <div class="rating-info">
                <ngb-rating
                [(rate)]="p.rating"
                [max]="5"
                [readonly]="true">
                </ngb-rating>
            </div>

            <div class="share-button">
                <button type="button" (click)="shareWA(p.name)">Whatsapp</button>
                <button type="button" (click)="shareTG(p.name)">Telegram</button>
            </div>

            <div class="buttons">
                <button type="button" (click)="IncreaseLikes(p)">Like</button>
                <button type="button" (click)="removeProduct(p)">Remove</button>
            </div>

            <div class="show-likes">
                <span> {{p.likes}} </span>
            </div>
        </div>
    </div>
</div>