<div class="loginpage">
    <div class="main">
        <div class="content">
            <form class="submit">
                <h2>LOGIN</h2>
                <div class="input" method="POST" action="">
                    <input type="email" placeholder="email address" required>
                    <span class="icon">📧</span>
                </div>
                <div class="password">
                    <input type="password" placeholder="password" required>
                    <span class="icon">🔒</span>
                </div>
                <button type="button" class="btn">LOGIN</button>
            </form>
        </div>
    </div>
</div>